.cv-header {
  padding-top: 15px
}
.title {
  font-size: min(9vw, 36px);
  font-weight: bold;
  text-align: center;
}
.occupation {
  display: block;
  position: relative;
  text-align: center;
  font-size: min(8vw, 24px);
  margin-top: min(2vw, 10px);
  padding-bottom: min(2vw, 10px);
}

.about {
  display: block;
  position: relative;
  margin: auto;
  width: max(50%, 240px);
  font-size: min(6vw, 18px);
  padding-bottom: min(2vw, 10px);
}
.link-box {
  display: block;
  position: relative;
  text-align: center;
  padding-bottom: 0.5%;
}
a {
  font-size: large;
  padding-left: 0.5%;
  word-wrap: break-word;
}

li {
  list-style-type: none;
}
#profile-image {
  height: 180px;
  display: block;
  margin: auto;
  padding-bottom: min(2vw, 10px);
}


mat-expansion-panel {
  display: block;
  justify-content: center;
  background-color: #e1e6eb;
}

mat-panel-title {
  font-size: large;
  font-weight: bold;
}

mat-panel-description {
  text-align: center;
}

.mat-sub-panel {
  width: 100%;
}

#tech-chart {
  height: min(700px, 75%);
}

ngx-charts-bar-vertical {
  width: 100%;
}

ngx-charts-pie-chart {
  width: 100%;
}

#language-chart {
  height: min(700px, 75%);
}

.sub-section {
  padding: 0.5% 0.5% 0.5% 0.5%;
  margin-bottom: 1%;
  border-radius: 15px;
  width: 500px;
  max-width: 90%;
}

.sub-section:nth-child(even) {
  background-color: #c5c8e3;
}
.sub-section:nth-child(odd) {
  background-color: #cccfe3;
}

.sub-menu-title {
  font-size: x-large;
  text-decoration: underline;
  margin-bottom: 20px;
}

.sub-sub-menu-title {
  font-size: large;
  padding-bottom: 15px;
}

.scope {
  font-size: large;
  margin-bottom: 10px;
}

mat-icon {
  line-height: 0;
}

.employment {
  margin-bottom: 15px;
}

.description {
  font-size: medium;
  margin-bottom: 15px;
}

.client {
  font-size: large;
  padding-bottom: 15px;
}

.duration {
  font-size: large;
}
