body {
    background-color: #e6eaed;
}

#nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

.flex-parent {
    display: flex;
}

#pagecontent {
    width: 100%;
}

@media screen and (max-width: 960px) {
    #content {
        margin-left: 5%;
        margin-right: 5%;
        background-color: #edf0f2;
        height: 100%;
    }
}

@media screen and (min-width: 960px) {
    #content {
        margin-left: 20%;
        margin-right: 20%;
        max-width: 1200px;
        background-color: #edf0f2;
        height: 100%;
    }
}


#markdown-text {
    margin-left: 5%;
    margin-right: 5%;
}

.nav-link-box {
    flex: 1;
    border-radius: 5px;
}

.nav-link-text {
    font-size: 160%;
    margin-left: 10%;
}

.nav-selected {
    box-shadow: 10px 0 2px #bab9bd;
}

.nav-unselected {
    box-shadow: 10px 0 2px #dad9de;
}
